/* reset styles */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	background-color: #1A1A1A;
	display: flex;
	justify-content: center;
	align-items: center;
}

.linkFont {
	font-weight: bold;
}

p.linkFont {
	font-family: 'Inconsolata';
	font-size: 22px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
	margin-left: 10px;
}

span.linkFont {
	font-family: 'Lora';
	font-style: italic;
}

.madlib-container {
	font-family: 'Lora', Georgia, serif;
	font-size: 48px;
	color: #FFF;
	text-align: left;
	line-height: 60px;

	left: 30%;
	top: 30%;
	position: absolute;
	bottom: 0;
	right: 0;

	/* some fanciness - made it opacity:0 so it'd be transparent til the JSON loads
	in the JS, when the JSON loads, it adds the 'fadeIn' class, which makes the opacity:1;
	the fade transitions because of the transition attribute*/
	opacity: 0.35;
	transition: opacity 0.3s;
}

@media (max-width: 1100px) {
	.madlib-input {
		width: 420px;
		font-size: 48px;
	}
}

@media (max-width: 768px) {
	.madlib-container {
		left: 10%;
		top: 10%;
		font-size: 36px;
		/* you don't need to put these in here again - they'll already be applied from being part of the default above
		stuff included in media query CSS rules overrides other rules */
		/*position:absolute;
		height:350px;
		text-align:left;
		right: 0;
		*/
	}

	.madlib-input {
		width: 300px;
		font-size: 36px;
	}
}

.madlib-container .madlib-input {
	/* moved all the common attributes of all the spans in here */
	border-style: solid;
	border-color: #1A1A1A;
	outline: 0;
	/* using the google font Lora, similar to Sentinel */
	/* in general for font families - it's good to include 1-2 fall-through backups. */
	font-family: 'Lora', Georgia, serif;
	font-size: 48px;
	background-color: transparent;

}

.artifacts .madlib-input {
	color: #09F;
}

.inspirations .madlib-input {
	color: #6C9;
}

.experiences .madlib-input {
	color: #C6C;
}

.attributes .madlib-input {
	color: #F90;
}

.medium .madlib-input {
	color: #FF0;
}


#home-button {
	position: absolute;
	top: 15px;
	left: 15px;
}

#home-button:hover {
	opacity: 0.5;
}

#logo {
	position: absolute;
	bottom: 15px;
	left: 15px;
	margin: 10px;
}

#logo:hover {
	opacity: 0.5;
}


a:link,
a:visited {
	color: white;
	text-decoration: none;
}

a:hover,
a:active {
	cursor: pointer;
	color: #666;
}

#print-button,
#upload-button,
#auto-button {
	position: absolute;
	bottom: 15;
	right: 15;
	font-family: 'Inconsolata';
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
	margin-left: 10px;
}

#auto-button {
	right: 85;
}

#print-button {
	right: 150;
}

#print-button:hover,
#upload-button:hover,
#auto-button:hover {
	opacity: 0.5;
}

p.about {
	position: absolute;
	top: 15px;
	right: 15px;
	font-family: 'Inconsolata';
	font-size: 20px;
	margin: 7px;
}

p.logo {
	position: absolute;
	bottom: 15px;
	left: 15px;
	font-family: 'Inconsolata';
	color: rgb(0, 0, 0);
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
	margin-left: 10px;
}

.about_text {
	position: absolute;
	top: 75px;
	right: 250px;
	left: 250px;
	font-family: 'Inconsolata';
	font-size: 16px;
	margin: 10px;
	color: white;
}

.columns {
	-webkit-columns: 100px 2;
	/* Chrome, Safari, Opera */
	-moz-columns: 100px 2;
	/* Firefox */
	columns: 100px 2;
	position: absolute;
	font-family: 'Inconsolata';
	font-size: 20px;
	right: 50px;
	left: 50px;
}

/*changes*/

.fadeIn {
	opacity: 1;
}

.upload-modal {
	line-height: 1.3;
	font-family: 'Lora', Georgia, serif;
	padding: 20px;
	position: relative;
	width: 50vw;
	height: 68vh;
	/* top: 25vh;
	left: 25vw; */
	background: rgba(241, 241, 241, 0.867);
}

.upload-modal.hidden {
	display: none;
}

.upload-modal button,
.upload-modal input,
.upload-modal select,
.upload-modal textarea,
.upload-modal label {
	font-family: 'Inconsolata', Helvetica, sans-serif;
	font-size: 100%;
	background: white;
	border: 1px solid grey;
	border-radius: 5px;
	padding: 3px 10px 5px 10px;
	margin: 5px 5px 10px 0;
}

.upload-modal button:hover {
	background: #ddd;
	cursor: pointer;
}

.upload-modal textarea:hover,
.upload-modal input:hover {
	background: #ddd;
}

.upload-modal textarea:active,
.upload-modal textarea:focus,
.upload-modal input:focus,
.upload-modal input:active {
	background: #bbb;
}

.upload-modal p {
	margin: 5px 0 15px 0;
}

.upload-modal p,
.upload-modal ol {
	max-width: 550px;
}

#status-message-text,
#status-message-file,
#status-message-key {
	font-family: 'Inconsolata', Helvetica, sans-serif;
	font-style: italic;
	margin-top: 10px;
}

#file-name {
	font-family: 'Inconsolata', Helvetica, sans-serif;
}

#pasted-text {
	width: 100%;
	height: 120px;
	display: block;
}

.step {
	display: none;
}

.step.step1 {
	display: block;
}

.step .next,
.step .prev {
	position: absolute;
	bottom: 10px;
	right: 20px;
}

.step .prev {
	right: 80px;
}

.project-name-display {
	font-family: 'Inconsolata', sans-serif;
	font-style: italic;
	position: absolute;
	top: 23px;
	left: 255px;
	color: #fff;
}

ol.instructions-list {
	list-style: decimal;
	margin-left: 15px;
}

.instructions-list li,
table {
	margin-bottom: 10px;
}

i {
	font-style: italic;
}

h3,
section {
	margin-bottom: 10px;
}