.mainFont {
	font-family: "Sentinel Book";
	font-size: 48px;
	color: #FFF;
	text-align: left;
	line-height: 60px;
}

/*#divElement{
    width: 900px;
    display: block;
}*/

@media (max-width: 1500px) {
	.divElement{
		left:30%;
		top:30%;
		position:absolute;
		height:350px;
		text-align:left;
		width:900px;
	}
}

.artifact input[type="text"]{ 
    background-color: transparent;  
    border-style: solid;  
    border-color: #1A1A1A; 
    outline:0; 
    font-family: "Sentinel Book";
	font-size: 48px;
	color: #09F;
}

.inspiration input[type="text"]{ 
    background-color: transparent;  
    border-style: solid;  
    border-color: #1A1A1A; 
    outline:0; 
    font-family: "Sentinel Book";
	font-size: 48px;
	color: #6C9;
}

.tension input[type="text"]{ 
    background-color: transparent;  
    border-style: solid;  
    border-color: #1A1A1A; 
    outline:0; 
    font-family: "Sentinel Book";
	font-size: 48px;
	color: #C6C;
}

.technique input[type="text"]{ 
    background-color: transparent;  
    border-style: solid;  
    border-color: #1A1A1A; 
    outline:0; 
    font-family: "Sentinel Book";
	font-size: 48px;
	color: #F90;
}

.medium input[type="text"] {
    background-color: transparent;  
    border-style: solid;  
    border-color: #1A1A1A; 
    outline:0; 
    font-family: "Sentinel Book";
	font-size: 48px;
	color: #FF0;
}

p.linkFont {
	font-family: "Helvetica"; 
	font-size: 24px;
	margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}
a:link {
    color: white;
	text-decoration: none;
}
a:visited {
    color:white;
}
a:hover {
    color: #666;
}
a:active {
    color: #666;
}